*{
padding: 0;
margin: 0;
box-sizing: border-box;
   
}
body{
    background-color: rgb(160, 122, 95);
    height: 100vh;
    
} 
.ca{
    border-style: dashed;
    background-color: beige;
    height: 17rem;
    width:calc(100%/2);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.cont{
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    flex-wrap: wrap;
}
.containerCard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}